<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body style="padding-left: 5px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 index">
                {% block sidebar %}
                <ul class="sidebar-nav">
                    {% if user.is_authenticated %}
                    <li><a href="{%url 'home'%}">Home</a></li>
                    {%else%}
                    <li><a href="{%url 'index'%}">Home</a></li>
                    {%endif%}
                </ul>
                <ul class="sidebar-nav">
                    {% if user.is_authenticated %}
                    <li>
                        <a style="color: rgb(5, 119, 157); font-size: x-large; font-weight: bold; font-family: 'Gill Sans' , 'Gill Sans MT' ,
                            Calibri, 'Trebuchet MS' , sans-serif;" href="{%url 'home'%}">User:
                            {{ user.get_username }}</a>
                    </li>
                    <br>
                    <li><a href="{% url 'logout' %}?next={%url 'index'%}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}?next={% url 'home'%}">Login</a></li>
                    {% endif %}
                </ul>
                <br>
                <br>
                <ul class="sidebar-nav">
                    <li><a href="{%url 'packages'%}">Your Package List</a></li>
                </ul>
                <ul class="sidebar-nav">
                    <li><a href="{% url 'package-find'%}">Track a package</a></li>
                </ul>
                <ul class="sidebar-nav">
                    <li><a href="{% url 'package-bind'%}">Associate a pacakge</a></li>
                </ul>
                {% endblock %}
            </div>
            <div class="col-sm-10">{% block content %}{% endblock %}</div>
        </div>
    </div>
</body>

</html>