{% extends "base_generic.html" %}

{% block content %}
<h1>Log in to Bind a Package!</h1>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% endif %}
{% endif %}

<div class="login-box">
    <h2>Log in to your account</h2>
    <form method="post">
        {% csrf_token %}
        <div class="user-box">
            <input type="text" name="username" required="">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" name="password" required="">
            <label>Password</label>
        </div>
        <button type="submit" class="ups-button">Log in</button>
    </form>
</div>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'register' %}">Don't have an account yet?</a></p>

{% endblock %}